In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
data = pd.read_csv('StudentsPerformance.csv')
data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...
995,male,group E,some college,standard,completed,99,87,81
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100

# 1. Find out how many males and females participated in the test.

In [4]:
data['gender'].value_counts()

# The number of females participated in the test is 518 and number of males is 482.

female    518
male      482
Name: gender, dtype: int64

# 2. What do you think about the students' parental level of education?

In [26]:
data['parental level of education'].value_counts()

# For most of the students the level of education of the parents was 'some college' and number of students having parents with 
# 'master's degree' were the least.

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

# 3. Who scores the most on average for math, reading and writing based on

# a.  Gender

In [28]:
gndravg = data.groupby('gender')['math score','reading score','writing score'].mean()
gndravg

C:\Users\acer\AppData\Local\Temp/ipykernel_1592/3244211098.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  gndravg = data.groupby('gender')['math score','reading score','writing score'].mean()

        math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058

In [31]:
row_means = gndravg.mean(axis=1)
row_means

# Females score the most on average for math,reading and writing based on gender.

gender
female    69.478121
male      65.937759
dtype: float64

# b.Test preparation course

In [32]:
tpcavg = data.groupby('test preparation course')['math score','reading score','writing score'].mean()
tpcavg

C:\Users\acer\AppData\Local\Temp/ipykernel_1592/2906845204.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  tpcavg = data.groupby('test preparation course')['math score','reading score','writing score'].mean()

                         math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944

In [35]:
rowmeans2 = tpcavg.mean(axis=1)
rowmeans2
# Students who have completed the test preparation course scores the most on average for math, reading and writing.

test preparation course
completed    72.942272
none         64.888370
dtype: float64

# 4. What do you think about the scoring variation for math, reading and writing  based on

# a. Gender

In [41]:
gndrvar = data.groupby('gender')['math score','reading score','writing score'].var()
gndrvar

C:\Users\acer\AppData\Local\Temp/ipykernel_1592/1961330409.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  gndrvar = data.groupby('gender')['math score','reading score','writing score'].var()

        math score  reading score  writing score
gender
female  256.958593     207.677438     220.369327
male    211.889097     200.211010     202.413924

In [ ]:
# The variation is higher in females compared to males in math, reading and writing scores.

# b.  Test preparation course

In [43]:
tpcvar = data.groupby('test preparation course')['math score','reading score','writing score'].var()
tpcvar

C:\Users\acer\AppData\Local\Temp/ipykernel_1592/2736513017.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  tpcvar = data.groupby('test preparation course')['math score','reading score','writing score'].var()

                         math score  reading score  writing score
test preparation course
completed                210.884027     183.265864     175.202612
none                     246.668662     213.419851     226.251739

In [ ]:
# The variation of scores is high in students who has not completed the test preparation course compared to the students who
# have completed.

# 5. The management needs your help to give bonus points to the top 25% of students based on their maths score, so how will you help the management to achieve this.

In [76]:
data2 = np.quantile(data['math score'],0.75)
data2
# found the upper quartile of all the math scores.

77.0

In [ ]:
# The students who has scored 77 marks and above are eligible for bonus points.