# A company started to invest in digital marketing as a new way of their product promotions. For that they collected data and decided to carry out a study on it.

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stat

In [2]:
data = pd.read_csv('Sales_add.csv')
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

# 1. The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

Hypothesis:

H_0 : Sales after digital marketing <= sales before digital marketing.

H_a : Sales after digital marketing > sales before digital marketing.

In [3]:
x=np.array(data['Sales_before_digital_add(in $)'])
y=np.array(data['Sales_After_digital_add(in $)'])

In [4]:
stat.ttest_ind(y,x,alternative='greater')

Ttest_indResult(statistic=12.995084451110877, pvalue=1.3071840034523225e-16)

Since p-value < 0.05, we can reject the null hypothesis. Hence we can conclude that digital marketing has helped in
increasing the sales of the company

# 2.The company needs to check whether there is any dependency between the features “Region” and “Manager”.

Hypothesis:

H_0 : There is no dependency between 'Region' and 'Manager'.

H_a : There is dependency between 'Region' and 'Manager'.

In [5]:
ctab = pd.crosstab(data.Region,data.Manager)
ctab

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [8]:
from bioinfokit.analys import stat
res = stat()

In [9]:
res.chisq(df=ctab)
print(res.summary)

Chi-squared test for independence

Test              Df    Chi-square    P-value
--------------  ----  ------------  ---------
Pearson            4       3.05057   0.549399
Log-likelihood     4       3.05147   0.54925

Since p-value > 0.05, we accept the null hypothesis. Hence we can conclude that there is no dependency between the features
'Region' and 'Manager'.